<main class='fdornas-main'>
  <div class='container'>
    <%= render 'layouts/navbar' %>

    <div class='row content'>
      <div class='col-md-8 col-12 text-center align-items-center'>
        <div class='contact-info'>
          <%- @contact.contact_items.each do |item| %>
            <h4 class='contact-title'>
              <%= item.title.upcase %>
            </h4>

            <p class='contact-text'>
              <%= item.info %>
            </p>
          <%- end %>
        </div>
      </div>

      <div class='col-md-4 col-12'>
        <%= image_tag @contact.image, class: 'about-img' %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</main>