<main class='fdornas-main'>
  <div class='container'>
    <%= render 'layouts/navbar' %>

    <div class='row content'>
      <div class='col-12'>
        <%- @portfolio.portfolio_items.each do |item| %>
          <div class='portfolio-item'>
            <h4 class='portfolio-title'>
              <%= item.title.upcase %>
            </h4>
            <p class='portfolio-description'>
              <%= item.description %>
            </p>
            <%= image_tag item.image, class: 'portfolio-img' %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</main>