<header class='d-flex justify-content-between'>
  <a href=<%= home_path %> class='logo-link'>
    <div class='text-center'>
      <h3 class='title'>FERNANDO DORNAS</h1>
      <p class='roles'>ator/roteirista</p>
    </div>
  </a>

  <nav class='navbar navbar-expand-lg navbar-light d-none d-lg-flex'>
    <ul class='navbar-nav d-flex'>
      <li class='nav-item'><a href=<%= home_path %> class='nav-link'>HOME</a></li>
      <li class='nav-item'><a href=<%= about_path %> class='nav-link'>SOBRE</a></li>
      <li class='nav-item'><a href=<%= gallery_path %> class='nav-link'>FOTOS</a></li>
      <li class='nav-item'><a href=<%= video_path %> class='nav-link'>VIDEO</a></li>
      <li class='nav-item'><a href=<%= portfolio_path %> class='nav-link'>TRABALHOS</a></li>
      <li class='nav-item'><a href=<%= contact_path %> class='nav-link'>CONTATO</a></li>
    </ul>
  </nav>

  <div class='d-lg-none d-flex' data-controller='dropdown'>
    <i class="bi bi-list" data-action='click->dropdown#toggle'></i>

    <div class='navbar-drop-menu dropdown-hidden' id='navbar-drop' data-visible="false">
      <a href=<%= home_path %>>
        <div class='dropdown-item regular-item'>
          HOME
        </div>
      </a>
      <a href=<%= about_path %>>
        <div class='dropdown-item regular-item'>
          SOBRE
        </div>
      </a>
      <a href=<%= gallery_path %>>
        <div class='dropdown-item regular-item'>
          FOTOS
        </div>
      </a>
      <a href=<%= video_path %>>
        <div class='dropdown-item regular-item'>
          VIDEO
        </div>
      </a>
      <a href=<%= portfolio_path %>>
        <div class='dropdown-item regular-item'>
          TRABALHOS
        </div>
      </a>
      <a href=<%= contact_path %>>
        <div class='dropdown-item regular-item'>
          CONTATO
        </div>
      </a>
    </div>
  </div>
</header>
